@model TestViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Test View";
}
<h1>Hello From Test Controller</h1>
<h2> This is the test Model View with name @Model.Name and description @Model.Description</h2>
<p>@Model.DateTimeNow</p>